body, html {
    /*width: 100%;*/
    height: 100%;
}

body {
    /*margin-bottom: 125px;*/
    position: relative;
    color: #fff;
    padding-top: 30px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#loading-spinner {
    /*text-align: center;*/
    display: inline-block;
    position: absolute;
    top: 0;
}

table {
    table-layout:fixed;
    background: rgba(192, 192, 192, 0.9);
}

td {
    text-align: left;
}

.time-col{ width: 55px; }

.div-table-content {
  margin-top: -21px;
  height:400px;
  overflow-y:auto;
}

/*.header-fixed > thead > tr > th{ white-space: nowrap; }*/*/

.btn {
    display: inline-block;
    color: #000;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    color: #fff;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: rgba(0,0,0, 0.9);
    transform:scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
}

/*.form-control {*/
    /*width: 200px !important;*/
/*}*/

.nav-container {
    position: absolute;
    /*position: relative;*/
}

.home-container, .appointments-container {
    /*padding-top: 60px;*/
    /*min-height: 542px;*/
    /*overflow: auto;*/
    text-align: center;
    /*position: relative;*/
}

.appointments-table {
    background: rgba(192, 192, 192, 0.9);
}

.heading {
    text-align: center;
}

.heading > h1 {
    /*margin-top: -50px;*/
    text-shadow: 2px 1px 2px #000;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.7);
}

.heading > h3 {
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.6);*/
    text-shadow: 2px 1px 2px #000;
    color: rgba(255, 255, 255, 0.7);
}

.content-div {
    min-height: 650px;
    /*overflow: auto;*/
    position: relative;
    background: url('../img/medical-clinic.jpg') no-repeat center center fixed;
    background-size: cover;
}

.page-content {
    /*height: auto;*/
    /*color: #fff;*/
    color: #000;
    opacity: 0.9;
    background: rgba(192, 192, 192, 0.6);
}

/*.bg-overlay {*/
    /*background:rgba(0,0,0, 0.1);*/
    /*height: auto;*/
    /*width: 100%;*/
/*}*/

.lunch {
    color: red;
}

footer {
    padding: 10px 0;
    margin-top: 10px;
    background: rgba(192, 192, 192, 0.15);
    text-align: center;
    bottom: 0;
    position: relative;
}

footer > p {
    text-align: left;
}

.contact-text {
    background: rgba(192, 192, 192, 0.9);
    font-weight: bold;
}

.contact-text > h2 {
    text-shadow: 2px 1px 2px white;
    color: #000;
}

.contact-text > h3 {
    text-shadow: 2px 1px 2px white;
    color: #000;
}

.contact-text > h4 {
    text-shadow: 2px 1px 2px white;
    color: #000;
    font-weight: bold;
}

.contact-text > p {
    text-shadow: 2px 1px 2px white;
    color: #000;
}
